* {
    font-family: 'Nunito Sans', sans-serif;
}

.dev-profile-body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.dev-profile-sub-hr {
    margin-left: 50px;
    margin-right: 50px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    background-color: #3f3d56;
}

.dev-profile-nav {
    background-color: #2f2e41;
    font-size: 24px;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 10px;
  margin-right: 20px; */
}

.dev-profile-nav-content {
    margin-left: 20px;
    margin-right: 20px;
}
.dev-profile-nav-link {
    text-decoration: underline;
}
.dev-profile-banner {
    background-color: #d5d5d5d7;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.dev-profile-info {
    margin-top: 100px;
}

.dev-profile-name {
    font-size: 48px;
    margin-bottom: 15px;
}

.dev-profile-bio {
    font-size: 24px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.dev-profile-social-links {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 20px;
    margin-bottom: 20px;
    /* justify-content: center; */
}

.dev-profile-social-element {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-right: 15px;
}

.dev-profile-other-info {
    display: flex;
    /* align-items: center; */
    margin-top: 15px;
}

.dev-profile-other-element {
    font-size: 16px;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 7.5px;
}

.dev-profile-banner-image {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    margin: 25px;
}

.dev-profile-repos-heading {
    font-size: 56px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.dev-profile-repos-group {
    margin-top: 30px;
}
.dev-profile-repo-flex {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 60px;
    align-items: center;
    /* vertical-align: bottom; */
}

.dev-profile-repo-name {
    font-size: 36px;
    color: rgb(57, 125, 228);
    /* display: inline; */
}
.dev-profile-repo-link {
    display: flex;
}

.dev-profile-repo-last-updated {
    font-size: 24px;
    color: gray;
    margin-left: 20px;
    vertical-align: bottom;
}

.dev-profile-repo-url {
    vertical-align: bottom;
}

.dev-profile-repo-description {
    font-size: 32px;
    margin-left: 60px;
    /* margin-bottom: 30px; */
}
.dev-profile-repoo {
    margin: 30px;
}

.dev-profile-footer-text {
    font-size: 24px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.dev-profile-footer {
    background-color: #2f2e41;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .dev-profile-nav {
        background-color: #2f2e41;
        font-size: 20px;
        color: white;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding-left: 10px;
    margin-right: 20px; */
    }

    .dev-profile-nav-content {
        margin-left: 10px;
        margin-right: 10px;
    }
    .dev-profile-banner {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .dev-profile-banner-image {
        width: 50%;
        height: 50%;
        margin: 10px;
    }
    .dev-profile-social-links,
    .dev-profile-other-info {
        display: flex;
        justify-content: space-around;
    }

    .dev-profile-info {
        margin-top: 10px;
    }

    .dev-profile-name {
        text-align: center;
        font-size: 36px;
    }

    .dev-profile-bio {
        text-align: center;
        font-size: 16px;
    }
    .dev-profile-other-element {
        font-size: 12px;
    }

    .dev-profile-social-element {
        height: 20px;
        width: 20px;
    }
    .dev-profile-repos-heading {
        font-size: 36px;
    }

    .dev-profile-repo-flex {
        display: flex;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 15px;
        align-items: center;
        /* vertical-align: bottom; */
    }

    .dev-profile-repo-name {
        font-size: 24px;
        color: rgb(57, 125, 228);
    }

    .dev-profile-repo-last-updated {
        font-size: 16px;
        color: gray;
        margin-left: 20px;
        vertical-align: bottom;
    }

    .dev-profile-repo-url {
        vertical-align: bottom;
        height: 16px;
        width: 16px;
    }

    .dev-profile-repo-description {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
        /* margin-bottom: 30px; */
    }
    .dev-profile-sub-hr {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #3f3d56;
    }
    .dev-profile-repoo {
        margin: 5px;
    }
    /* .location-div,
    .work-div,
    .blog-div {
        display: flex;
        flex-direction: column;
    } */
}
