* {
    font-family: 'Nunito Sans', sans-serif;
}
body {
    margin: 0;
}

.homepage-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-sub-heading {
    font-size: 56px;
    color: #3f3d56;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.homepage-sub-hr {
    width: 96%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #3f3d56;
}

.homepage-not-found-message {
    font-size: 36px;
    color: #3f3d56;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.homepage-add-dev-info-btn {
    font-size: 36px;
    background-color: #7c639f;
    display: flex;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 50px;
    border-radius: 15px;
    color: white;
    border: none;
}
.homepage-footer {
    background-color: #2f2e41;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-footer-text {
    font-size: 24px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
.fa-icon {
    margin: 5px;
}
.homepage-popup-sub-hr {
    margin-left: 30px;
    margin-right: 30px;
    color: #3f3d56;
}

.homepage-popup-container-body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-body {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .homepage-sub-heading {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .homepage-sub-hr {
        margin-left: 10px;
        margin-right: 10px;
        color: #3f3d56;
    }
    .homepage-search-input-div {
        background-color: #d0cde1;
        display: flex;
        width: 290px;
        height: 33px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 15px;
    }

    .homepage-search-input {
        width: 240px;
        height: 20px;
        border-radius: 15px;
        border-color: #fff;
        border-width: 0;
        margin: 6px;
        font-size: 14px;
        color: #3f3d56;
        outline: none;
    }

    .homepage-search-icon {
        height: 20px;
        width: 20px;
        margin-left: 4px;
        margin-right: 6px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .homepage-add-dev-info-btn {
        font-size: 14px;
        display: flex;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        padding: 0 30px;
        text-align: center;
        margin-top: 10px;
        border-radius: 15px;
        color: white;
        border: none;
    }
    .homepage-popup-sub-hr {
        margin-left: 15px;
        margin-right: 15px;
        color: #3f3d56;
    }

    .homepage-not-found-message {
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
